.productId {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
}

.productId__path {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.productId__arrow {
  color: var(--color-red);
  font-size: 24px;
}

.productId__nameProduct {
  color: #515151;
}
